@import "bootstrap/dist/css/bootstrap.min.css";
*{
    margin: 0px;
}
.main-container{
    padding: 10px;
    margin: 0px auto;
}
.heading{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(30, 30, 62);
}
.filter-container{
    display: flex;
    justify-content: space-between;
}
.form-control:focus{
    box-shadow: none !important;
}