*{
    margin: 0px auto;
}

.container{
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border: 2px solid;
}

.btn{
    padding-top: 10px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.text{
    color: black;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    margin-top: 85px;
    justify-content: center;
}